*
!.gitignore
!.gitattributes
!README.md
!requirements.txt
!Analyza_grafiky_a_zdroju.md
!Sdeleni_CASPV_zari_2026_v4.pdf
!scripts/
scripts/*
!scripts/build_pdf.py
!output/
output/*
!output/Sdeleni_CASPV_2026-09-01_navrh.md
!assets/
assets/*
!assets/sport-21.jpg
!assets/sport-36.jpg
!assets/identita/
assets/identita/*
!assets/identita/2025_Logo_SPV/
assets/identita/2025_Logo_SPV/*
!assets/identita/2025_Logo_SPV/SPV_Logo_color.png
!Sdeleni_CASPV_zari_2026.pdf
